/simple-kafka-client/.project
/simple-kafka-client/.settings
/simple-kafka-client/target
/simple-kafka-client/.classpath
/simple-kafka-listener/.project
/simple-kafka-listener/.settings
/simple-kafka-listener/target
/simple-kafka-listener/.classpath
