<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
	<Appenders>
		<Console name="LogToConsole" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{yyyy/MM/dd HH:mm:ss.SSS}  %-5level %logger{36} - %msg%n" />
		</Console>
		<File name="LogToFile" fileName="c:/temp/app.log">
			<PatternLayout
				pattern="%d{yyyy/MM/dd HH:mm:ss.SSS}  %-5level %logger{36} - %msg%n" />
		</File>
	</Appenders>
	<Loggers>
		<Logger name="com.singgih" level="debug" additivity="false">
			<AppenderRef ref="LogToFile" />
			<AppenderRef ref="LogToConsole" />
		</Logger>
		<Logger name="org.springframework.boot" level="error"
			additivity="false">
			<AppenderRef ref="LogToConsole" />
		</Logger>
		<Root level="error">
			<AppenderRef ref="LogToFile" />
			<AppenderRef ref="LogToConsole" />
		</Root>
	</Loggers>
</Configuration>